@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards{
 
  /* position: relative; */
  overflow: hidden;
  height: 700px;

}
.cards:hover .card__text {
  bottom:0;
}


.card__text {
  position: absolute;
  z-index: 1;
  bottom: -12em;
  margin: 2em;
  padding: 1.7em 2em;
  width: 87%;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.66), rgba(255, 255, 255, 0.33));
  border-radius: 1rem;
  transition: all 450ms ease-in-out;
  backdrop-filter: blur(5px);
  /* max-height: 500px; */
}
